.large,
.default {
  display: flex;
}

.default {
  flex-direction: column;
  & p {
    font-size: 1rem;
  }
}

.large {
  & p {
    margin: auto 0.5rem;
    margin-top: 0;
    font-size: 1.5rem;

    @media (max-width: 700px) {
      font-size: 1rem;
    }
  }

  & img {
    width: 55rem;
    max-width: 50vw;
    object-fit: contain;

    @media (max-width: 700px) {
      width: 100%;
      max-width: none;
    }
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
