:root {
  --accent: #0d6b70;
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-h: "Fraunces", serif;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  width: clamp(20em, 25vw, 30em);
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#language-selector {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

#headline {
  display: flex;
  align-items: center;
  width: 45%;
}

#headline h2 {
  font-size: 2.2rem;
}

#projects-list {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

ol {
  margin: 0px;
  padding: 0;
}

#now-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  margin-left: 0;
}

#now-block {
  flex: 1;
  justify-content: space-around;
}

.now-item,
i {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

.hover-accent:hover {
  background-color: var(--accent);
  color: white;
}

.accent {
  background-color: var(--accent);
  color: white;
}

.accent a {
  color: white;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  min-width: 50%;
}

#projects-title-block {
  width: 100%;
}

#all-projects {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  justify-content: center;
  flex-direction: row;
}

footer {
  padding: 2em;
  justify-content: space-around;
  width: 80%;
  margin-top: auto;
}

/*tabletti landscape view responsiivisuus*/
@media (max-width: 1200px) {
  footer {
    width: 100%;
    padding: 2em 0;
  }

  #projects-list {
    flex-direction: column;
  }

  #now-block {
    justify-content: flex-start;
    flex-grow: 0;
  }
}

.ph-light {
  font-size: 1em;
}

a {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
}

a.block-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-container-desktop {
  height: 100%;
  margin: 0px;
}

p,
span,
li {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.25em;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    rgba(223, 251, 255, 1) 0%,
    rgba(132, 235, 255, 0.5) 40%,
    rgba(132, 235, 255, 0.5) 60%,
    rgba(223, 251, 255, 1) 100%
  );

  font-family: var(--font-family);
  font-size: 16px;
  color: #010e24;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-container-desktop {
  width: auto;
  background: linear-gradient(
    130deg,
    rgb(246, 230, 193) 0%,
    rgb(227, 193, 114) 50%,
    rgb(246, 230, 193) 100%
  );
}

.block-main {
  width: 100%;
  background-color: #dffbff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 1.5em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

button {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.block-main:hover {
  transform: translate(-2px, -2px);
}

.project-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
  align-items: center;
}

#projects-page-backbutton {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#projects-page-backbutton:hover,
button:hover {
  transform: translate(-2px, -2px);
}

* {
  gap: 0.5em;
}

img {
  width: 100%;
  max-width: 800px;
}

#catimg-desktop {
  display: block;
  max-width: 150px;
  min-width: 100px;
}

#cat-container-mobile {
  display: none;
  width: 10rem;
}

#now {
  flex-grow: 1;
  justify-content: stretch;
}

#now h2 {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: var(--font-family-h);
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  color: #010e24;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
}

.page-link {
  text-align: center;
  margin: 0em;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
}

.footer-link {
  align-items: center;
}

.project-preview {
  height: auto;
  width: 100%;
  display: block;
  max-height: 140px;
}

#blackbox {
  background-color: black;
}

.column {
  display: flex;
  flex-direction: column;
}

.project-year {
  text-align: center;
}

.project-title {
  padding: 0.5rem;
}

#projects-hero {
  width: 50%;
}

.project-info {
  margin-top: auto;
  align-items: center;
  font-size: 2.5em;
}

#project-page-main-container {
  height: 100%;
}

.gh-link {
  padding: 1em;
  border: black 1px solid;
}

#raised-card .row .column {
  margin-right: 0.5em;
}

#contact-button-container {
  justify-content: center;
  margin-top: 5em;
}

#contact-button {
  min-width: 40vw;
  min-height: 3em;
}

.project-description {
  margin-top: 0;
  font-size: 1rem;
}

.project-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small {
  max-width: 50%;
  margin: 0;
}

#small-project-row {
  justify-content: flex-start;
}

@media (max-width: 700px) {
  * {
    min-width: 0;
  }

  a.block-main {
    font-size: 1rem;
  }

  #now-list {
    margin: 0;
    padding: 1rem 0rem 1rem 0rem;
  }

  .now-item {
    font-size: 1rem;
  }

  #cat-container-desktop {
    display: none;
  }

  #cat-container-mobile {
    display: block;
    background: linear-gradient(
      130deg,
      rgb(246, 230, 193) 0%,
      rgb(227, 193, 114) 50%,
      rgb(246, 230, 193) 100%
    );
  }

  #catimg-mobile {
    display: block;
  }

  .small {
    max-width: 100%;
  }

  .project-block {
    max-width: 100%;
  }

  #projects-list {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
  }

  #projects-content-block {
    flex-grow: 2;
  }

  h1 {
    font-size: 3rem;
  }

  button {
    margin: 0.5rem;
  }

  #projects-hero {
    width: 100%;
  }

  html,
  body {
    overflow-x: clip;
  }

  #main-container-desktop {
    display: flex;
  }

  #hero {
    width: clamp(15em, 25vw, 30em);
    align-items: center;
  }

  #hero #hero > h1 {
    font-size: 4rem;
  }

  #headline {
    max-width: 23rem;
    width: auto;
  }

  p {
    font-size: 1rem;
  }

  .project-image {
    margin: auto;
  }

  .title-and-year {
    align-items: center;
  }

  /*  #chip26demoimage {
    width: 100%;
    max-width: none;
  }
*/
  .row,
  footer {
    flex-direction: column;
  }

  .project-info {
    flex-direction: row;
  }

  footer {
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 1rem;
  }

  footer > a {
    margin: 0.5rem;
    font-size: 1.5rem;
  }

  #contact-button-container {
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  #project-page-header {
    margin-bottom: 3rem;
  }

  #headline-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-start;
  }

  header {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: flex-start;
  }

  #headline h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 400px) {
  .project-button {
    width: auto;
  }

  #headline {
    width: auto;
    padding: 1em;
  }

  .page-link {
    font-size: 1rem;
  }

  #headline h2 {
    font-size: 1.2rem;
  }
}
