/* Hei näin kommentoit css:sää */
/* Laita tänne omat tyylittelyt :D */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  width: clamp(20em, 25vw, 30em);
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#language-selector {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

#headline {
  display: flex;
  align-items: center;
  width: clamp(30em, 40vw, 50em);
}

#projects-list {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;

}

ol {
  margin: 0px;
  padding: 0;
}

li {
  list-style: none;
}


.hover-accent:hover {
  background-color: #0D6B70;
  color: white;
}



.accent {
  background-color: #0D6B70;
  color: white;
}

.accent>a {
  color: white;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  margin-bottom: auto;

}

#projects-title-block {
  width: 100%;
}


#all-projects {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

footer {
  padding: 2em;
  justify-content: space-around;
  width: 80%;

}

.footer-block>a:hover {
  color: white;
}

.ph-light {
  font-size: 2em;
}






.project-image {
  border: black 1px solid;
}

a {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background-color: #84ebff;
  padding: 1rem;
  margin: 1rem;
  border: black 1px solid;
  text-align: center;
  min-height: 3rem;
  padding: 0.75rem 1.25rem;
  width: auto;
}


nav {
  display: flex;
  flex-direction: column;
}

.page-link {
  padding: 1em;
  border: black 1px solid;
  height: 33%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}


#main-container-desktop {
  height: 100%;
  margin: 0px;
}

p,
span,
a.attributions {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.25em;
}

.big-project-card,
.small-project-card {
  min-height: auto;
  background-color: #dffbff
}

.big-project-card {

  border: black 1px solid;
}

.small-project-card {
  border: black 1px solid;
  flex-basis: 100%;
}

.raised-card {
  transform: translateY(-0.5em) translateX(0.5em);
  z-index: 10;
  background-color: rgb(227, 254, 255);
  width: 100%;
  inset: -0.2em -0.5em auto auto;
  height: auto;
  border: black 1px solid;
}

#projects-listing-main-container {
  background-color: transparent;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

html,
body {
  height: auto;
}

body {
  background: linear-gradient(180deg,
      rgba(223, 251, 255, 1) 0%,
      rgba(132, 235, 255, 0.5) 40%,
      rgba(132, 235, 255, 0.5) 60%,
      rgba(223, 251, 255, 1) 100%);

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #010e24;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-container-desktop {
  width: auto;
  background: linear-gradient(130deg,
      rgb(246, 230, 193) 0%,
      rgb(227, 193, 114) 50%,
      rgb(246, 230, 193) 100%);
}

.block-main {
  width: 100%;
  background-color: #dffbff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 1.5em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

button {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);

}




.block-main:hover {
  transform: translate(-2px, -2px)
}

#all-projects {
  text-align: center;
}

.project-card {
  display: block;
  border: 1px solid black;
  padding: 1em;
}

#projects-page-backbutton {
  width: auto;
  align-self: start;
}

#projects-page-backbutton:hover,
button:hover {

  transform: translate(-2px, -2px);
}

#intel26image {
  height: auto;
}

#intel26card {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

* {
  gap: 0.5em;
}

img {
  width: 100%;
}

#catimg-desktop {
  display: block;
  max-width: 150px;
  min-width: 100px;
}

#catimg-mobile {
  display: none;
  width: 10rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  color: #010e24;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.page-link {
  text-align: center;
  margin: 0em;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.footer-link {
  align-items: center;

}


.project-preview {
  max-height: 10rem;
}

#loremipsum {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 30%;
  min-height: 30vh
}

.project-card-column>h2 {
  margin-left: 1em;
  margin-right: 1em;
}

#blackbox {
  background-color: black;
}

#main-content {
  display: flex;
  direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.project-card-row {
  height: 100%;
}

#chip26demoimage {
  width: 90%;
  margin-left: auto;
  margin: 0.25em 0.25em 0 auto;

}



.project-year {
  text-align: center;
}

.project-title {
  padding: 0.5rem;
}


#projects-hero {
  width: 50%;
}

#project-page-mail-link {
  padding: 1em;
  border: black 1px solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


#raised-card>.row>.column {
  margin-right: 0.5em;
}

#contact-button-container {
  justify-content: center;
  margin-top: 5em;
}

#contact-button {
  min-width: 40vw;
  min-height: 3em;
}

.project-description {
  min-height: 6em;
  font-weight: 500;
  margin-top: 0;
  border: black 1px solid;
}

.project-card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-image {
  width: 100%;
  height: auto;
  max-width: 40rem;
  margin-left: 0.25em
}


#column2 {
  max-width: 70%;
}

#projects-column1,
#projects-column2 {
  flex: 1 1 30rem;
  height: 100%;
}

#projects-column2 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#projects-row1,
#projects-row2 {
  width: 100%;
  height: 50%;
}

@media (max-width: 800px) {

  * {
    min-width: 0;
  }

  #loremipsum,
  #all-projects,
  #chip26demoimage,
  #headline,
  .project-card>button,
  #projects,
  footer {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }

  .project-card>button>a {
    font-size: 1rem;
  }

  #cat-container-desktop {
    display: none;
  }

  #catimg-mobile {
    display: block;
  }

  #projects-list {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
  }

  #projects-content-block {
    flex-grow: 2;
  }

  button {
    margin: 0.5rem;
  }

  .big-project-card {
    margin: auto;
    width: 17em;
  }

  #projects-hero {
    width: 100%;
  }



  html,
  body {
    overflow-x: clip;
  }

  #main-container-desktop {
    display: flex;
  }


  #hero {
    width: clamp(15em, 25vw, 30em);
    align-items: center;
  }

  #hero #hero>h1 {
    font-size: 4rem;
  }

  #headline {
    max-width: 23rem;
  }

  #headline>h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }


  .project-image {
    margin: auto;
  }

  .row,
  footer {
    flex-direction: column;
  }

  footer {
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 1rem;
  }

  footer>a {
    margin: 1rem;
    font-size: 1.5rem;

  }



  .project-description {
    margin-bottom: 0px;
  }



  #contact-button-container {
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  #project-page-header {
    margin-bottom: 3rem;
  }

  #headline-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-start;
  }



  header {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: flex-start;
  }
}

@media (max-width:400px) {

  .big-project-card,
  .small-project-card {
    width: auto;

  }

  .small-project-card {
    margin: 0;
  }

  #headline {
    width: auto;
  }

  .page-link {
    font-size: 1rem;
  }

}